@model IEnumerable<KursKayit>

<h2>Kurs Kayıt Listesi</h2>
<a href="/KursKayit/Create" class="btn btn-primary">Kurs Kayıt Yap</a>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:150px">@Html.DisplayNameFor(m => m.KayitId)</th>
            <th>@Html.DisplayNameFor(m => m.Ogrenci.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.Kurs.Baslik)</th>
            <th style="width:150px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KursId)</td>
                <td>@Html.DisplayFor(modelItem => item.Ogrenci.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem => item.Kurs.Baslik)</td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>